.FrontPage-BlackTab{
  display: flex;
  color: white;
  background: black;
  height:30px;
  font-size: 0.9em;
}
.FrontPageFilter{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
}
.Service{
  width:14%;
  height:30px;
  border: 1px solid grey;
  border-radius: 3px;
  margin-right: 1%;
}
.FrontPage-Selection-left{
  text-align: left;
}
.FrontPage-PinkBar{
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
  text-align: left;
  margin-top: 3%;
  background: linear-gradient(to right,	#FF0749 15%, #E48BE7);
}
.HomePageCard{
  background: white;
  padding: 3%;
  margin: 2%;
  text-align: left;
  font-size: 0.9em;
}
.BookmarkSection{
  display: flex;
}
.HastagButton{
  height:28px;
  width:8%;
  background: #F4F6F9;
  margin-top:1%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 100%;
  margin-left: 1%;
  border: 1px solid grey;
}
.ValueChainImage{
  width:12%;
  margin-left:auto;
}
.FrontPageCardSection{
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
}
.Front-PageBelowNav{
  background: #F4F6F9;
}
.FrontPage-PinkBarText{
  color:white;
  width:50%;
  margin: 1%;
}
.ColumbusXIcon{
  display: flex;
  color:#F4F6F9;
  font-size: 1em;
  height:100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width:40%;
}
.FrontPage-heading{
  font-family: serif;
}
.PinkBar-text{
  font-size: 0.9em;
}
.FrontPage-option{
  background: white;
  width:12%;
  margin-left: 3%;
  margin-top: 2%;
  margin: 3%;
  padding: 2%;
  font-size: 0.9em;
  border-radius: 3px;
}
.Front-Button{
  background: black;
  color: white;
  padding: 2%;
  border: 1px solid black;
  margin-right: 3%;
  border-radius: 4px;
}
