.Login-Message{
  text-align: left;
  margin-left: 10%;
  margin-top: 6%;
  width: 30%;
  color: grey;
}
.SignUp-Policy{
  text-align: left;
  font-size: 1.2em;
  margin-left: 5%;
  width: 33%;
  color: grey;
}
.SignUp-WelcomeMessage{
  margin-left:5%;
  margin-top: 3%;
  font-size: 4em;
  margin-bottom: 0%;
  font-weight: 500;
}
.SignUp2-Message{
  margin-left:5%;
  margin-top: 4%;
  font-size: 2em;
  margin-bottom: 0%;
}
.Signup2-RegisterOption{
  display: flex;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 1%;
}
.Grey-Text1{
  color: grey;
}
.Register-EmailTextBox{
  width:100%;
  margin-left: 2%;
  padding-left: 2%;
  border-radius: 4px;
  height: 45px;
  margin-bottom: 2%;
  border: solid 1px grey;
}
.SignUp2-ButtonOne{
  width:31%;
  border-radius: 50px;
  margin-right: 2%;
  background: white;
  height:35px;
  border:1px solid grey;
}
.Label-ForTextBox{
  width:16%;
}
.SignUp2-Buttons{
  width:34%;
  margin-right: 2%;
}
.SignUp1-ButtonOne{
  width:31%;
  border-radius: 50px;
  background: black;
  color: white;
  height:35px;
  margin-right:2%;
  border:1px solid black;
}
.SignUp-Section{
  display: flex;
  width:100%;
}
.Login{
  margin-top: 0;
  padding-top: 0;
  display: flex;
  width:100%;
}
.Login-form{
  margin-left:auto;
  margin-right:20%;
  text-align: left;
}
.PasswordReminder{
  margin-left: 2%;
  padding-top: 0;
  margin-top: 0;
}
.my-facebook-button-class{
  width:130%;
  color: white;
  background: #3B5998;
  border-radius: 3px;
  border: 1px solid #3B5998;
  height:40px;
  margin-left: 2%;
}
.SignUpOption{
  width:100%;
  margin-left:58%;
}
.LoginButton{
  width:34%;
  text-align: center;
  padding: 2%;
  height:30px;
  margin-top: 4%;
  color: white;
  background: black;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: auto;
  box-shadow: 0px 0px 4px 0px black;
  margin-left: 100%;
  font-size: 0.8em;
}
.Cx{
  color:#ff0067;
}
.cX{
  color:#ff0067;
  margin-top: 1%;
}
.Text-BoxSection{
  width:40%;
}
.RegisterEmail{
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  display: flex;
  width:99%;
  margin-left:2%;
  padding-top: 0;
  margin-top: 0;
  padding-left: 2%;
  height:28px;
}
.Register-Button2{
  display: flex;
  margin-left: 5%;
  margin-top: 2%;
}
.Register-ButtonSection{
  margin-left: auto;
  margin-right: 13%;
}
.RegisterCross{
  height:18px;
  margin-left: auto;
  margin-right: 1%;
  margin-top: 1%;
}
.RegisterEmailHolders{
  display: flex;
  width:40%;
  flex-direction: column;
}
