.Nav-imageBar{
  display: flex;
  margin-left:8%;
}
.Nav-logo{
  padding:2px;
  padding-left: 2%;
  padding-right: 2%;
  background: black;
  color:white;
  font-weight: normal;
}
.Nav-Icons{
  margin-top:30px;
  height: 30px;
  width:30px;
  padding-left: 2%;
}
.Nav-Search{
  margin-top: 20px;
  margin-left: 2%;
  width:55%;
  text-align: left;
}
.Nav-SearchArea{
   height: 28px;
   width: 60%;
   padding-left: 2%;
}
.Nav-ContentBar{
  display: flex;
  background:black;
  color: white;
  height:30px;
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
}
.Nav-menuItem{
   margin-top:2px;
   margin-left: 2%;
   width:9%;
}
.pink-test{
   margin-top:2px;
   margin-left: 2%;
   width:9%;
   color:#ff0067;
}
.Nav-menuItemOne{
   margin-top:2px;
   padding-left: 8%;
   width:6%;
}
.Nav-menuItemFirst{
   margin-top:2px;
   padding-left: 8%;
   width:10%;
}
