.Profile-Disabled-Button{
  color: #f2f2f2;
  background-color: #c0c0c0;
  border-radius: 4px;
  height:25px;
  width: 8%;
  margin-left: auto;
}
.Profile-SelectMenuOne{
  height:30px;
  padding-left: 2%;
}
.Profile-Sectiontwo{
  padding-top: 0;
  width:80%;
}
.Profile-DropDown{
  width:100%;
  background: white;
  border: 1px solid black;
  height: 30px;
}
.Dropdown-Text{
  font-size: 1.1em;
  margin-top: 6px;
  margin-left: 4%;
}
.School-Selection{
  width:91%;
  height:30px;
  margin-left:4%;
}
.Dropdown-ArrowIcon{
  height:16px;
  width:auto;
  margin-left: auto;
  margin-top: 6px;
  margin-right: 6%;
}
.KycPopup{
  margin-left: 4%;
}
.Kyc-checkBox{
  display: flex;
}
.profile-schoolpopup{
  margin-right: 6%;
  margin-left: 4%;
  margin-top: 4%;
  display: flex;
}
.School-PopupButtonSection{
  display: flex;
  margin-left: auto;
  width:50%;
}
.schoolpopup-Textarea{
  margin-left: 4%;
  border-radius: 4px;
}
.profile-schoolpopup-year{
  width:44%;
  height:30px;
}
.profile-schoolpopup-text{
  width:12%;
  text-align: center;
}
.Profile-FileSelect{
  width:15%;
  height:120px;
  background: #f2f2f2;
  margin-right: 4%;
}
.Profile-TextField{
  margin-top: 0;
  border:none;
  width: 100%;
  height: auto;
}
.Profile-CameraIcon{
  position: relative;
  bottom:20%;
  left:76%;
  margin-left: auto;
  height: 22px;
  width:auto;
}
.Profile-TextArea{
  border:none;
  width: 100%;
  height: auto;
}
.Profile-TextArea:hover{
  border: lightBlue 2px solid;
  border-radius: 4px;
  width: 100%;
  height: auto;
}
.Profile-FileInput{
  width:100%;
  height:120px;
  opacity:0;
}
.Profile-SelectImage{
  display: flex;
}
.Profile-TextFieldButton{
  background-color: black;
  color: white;
  border-radius: 4px;
  border:1px solid black;
  height:25px;
  font-size: 0.9em;
  font-weight: lighter;
  margin-left:auto;
  width:11% ;
}
.Profile-SelectMenuTwo{
  width:52%;
  height:30px;
  padding-left: 2%;
}
.Profile-OrganisationText{
  width:53%;
  padding-left: 1%;
  border-radius: 4px;
  border: 1px solid grey;
  height:35px;
}
.Profile-TextSelect{
  border: 1px solid grey;
}
.Profile-Information{
  margin-top: 2%;
  display: flex;
}
.Profile-EducationalInfo{
  margin-left: 2%;
}
.Profile-ImageInstitute{
  margin-top: 2%;
}
.Profile-InputForm{
  margin-left: auto;
  width:15%;
}
